* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    height: 70vh;
    background-image: url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;
    color: white;
}

.flex {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    align-items: flex-end;
}

.container-items {
  max-width: 400px;
  width: 100%;
}

.box-img {
    width: 100%;
    border-radius: 10px;
}

.btn-default {
    border-radius: 50px;
    padding: 5px 10px;
    border: none;
}

.bg-tom {
    background-color: tomato;
}