* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    height: 70vh;
    background-color: aquamarine;
    padding: 50px 30px;
}

.flex {
    display: flex;
    justify-content: flex-start;
}

.container-items {
  max-width: 400px;
  width: 100%;
}